<ion-header>

  <ion-navbar>
    <ion-title>{{ disciplina.nome }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="disciplina-detail" padding>
    <h2>{{disciplina.nome}}</h2>
    <p>{{disciplina.codigo}}</p>
    <p>{{disciplina.creditos}} Créditos</p>
    <p>Unidade: {{disciplina.unidadeAcademica}}</p>
    <ion-list>
      <button ion-item (click)="openTurma(turma)" *ngFor="let turma of currentTurmas">
        <!-- <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar> -->
        <h2>{{turma.nome}}</h2>
        <p>{{turma.codigo}}</p>
        <!-- <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note> -->
      </button>
    </ion-list>
  </div>
</ion-content>